bottle==0.12.18
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
dominate==2.5.1
elasticsearch==7.15.0
elasticsearch-dsl==7.4.0
Flask==2.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
python-dateutil==2.8.2
pywebview==3.3.1
requests==2.24.0
six==1.16.0
urllib3==1.25.11
Werkzeug==2.0.1
