* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #EBF2FA;
    padding: 1em;
}
nav > a{
    flex: 5;
    align-self: center;
}
nav > ul{
    display: flex;
    order: 1;
    flex: 1;
    list-style: none;
    height: 20%;
}
nav > ul > li{
    width: 50%;
}
nav > ul > li > a{
    color: #064789;
    text-decoration: none;
    font-weight: bold;
}

header > .searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
nav > .navSearch{
    display: flex;
    align-self: center;
    flex: 2;
}
nav > .navSearch > input[type=text]{
    width: 70%;
}
.searchForm{
    background: hsla(205, 42%, 45%, 1);
    background: radial-gradient(circle, hsla(205, 42%, 45%, 1) 26%, hsla(206, 42%, 30%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(205, 42%, 45%, 1) 26%, hsla(206, 42%, 30%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(205, 42%, 45%, 1) 26%, hsla(206, 42%, 30%, 1) 100%);

}
.searchForm > input[type=text]{
    width: 30%;
    padding: 5px;
}
.searchForm > input[type=submit]{
    padding: 5px;
    width: 8%;
}
footer{
    height: 15vh;
}
.panel{
    padding: 1em;
    background-color: #427AA1;
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.panel-bar > span{
    font-weight: bold;
    font-size: large;;
}

.panel-bar{
    align-self: center;
    width: 70%
}

