* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #EBF2FA;
    padding: 1em;
}
nav > a{
    flex: 5;
    align-self: center;
}
nav > ul{
    display: flex;
    order: 1;
    flex: 1;
    list-style: none;
    height: 20%;
}
nav > ul > li{
    width: 50%;
}
nav > ul > li > a{
    color: #064789;
    text-decoration: none;
    font-weight: bold;
}
header > .searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
nav > .navSearch{
    display: flex;
    align-self: center;
    flex: 2;
}
nav > .navSearch > input[type=text]{
    width: 70%;
    border: 3px solid white;
    outline: none;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
nav > .navSearch > button{
    border: 1px solid white;
    background: white;
    text-align: center;
    color: #064789;
    border-radius: 0 5px 5px 0;
}
.searchForm{
    background: hsla(205, 42%, 45%, 1);
    background: radial-gradient(circle, hsla(205, 42%, 45%, 1) 26%, hsla(206, 42%, 30%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(205, 42%, 45%, 1) 26%, hsla(206, 42%, 30%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(205, 42%, 45%, 1) 26%, hsla(206, 42%, 30%, 1) 100%);
}
.searchForm > *{
    padding: 0.5%;
}
.search-container{
    display: flex;
    width: 50%;
}
.search-container .search {
    display: flex;
    width: 100%;
    position: relative;
}
.search-container .searchTerm {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.search-container .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: #064789;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
footer{
    height: 15vh;
}
.panel{
    background-color: #427AA1;
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.panel-bar > button{
    font-weight: bold;
    font-size: large;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em;
    color: whitesmoke;
    background-color: inherit;
}
.panel-bar{
    align-self: center;
    width: 80%;
}
.active{
    background-color: #3b6d91 !important;
}

