.results{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}
.results > section{
    display: flex;
    flex-direction: column;
}
.results > h1{
    align-self: center;
    width: 80%;
    padding: 0.5%;
    border-bottom: 1px solid black;
}
.pro-con-view > .lists{
    width: 80%;
    align-self: center;
}
.list-view > *{
    width: 30%;
}
.lists{
    display: flex;
    flex-direction: row;
}
.lists > .list{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.list > *{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
}
.list > h2{
    margin-top: 0;
    padding: 1%;
}
.pro-heading{
    color: #408000;
    border-bottom: 1px solid #408000;
}
.con-heading{
    color: #cc3300;
    border-bottom: 1px solid #cc3300;
}
.result-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1%;
    align-self: center;
    background-color: white;
}
.result-content {
    padding: 2px 16px;
}
.result-bottom > .result-content > button{
    background-color: white;
    border: none;
    cursor: pointer;
}
.result-content > *{
    margin-left: 2%;
}
.result-bottom{
    width: 100%;
    border-top: 1px solid #cccccc;
}
.result-bottom > .result-content > a{
    color: black;
}
.result-bottom > .result-content > .date{
    float: right;
}
.support-conclusion{
    color: #408000;
    border: 2px solid #408000;
}
.support-conclusion:hover{
    color: whitesmoke;
    background-color: #408000;
    transition: 0.3s;
}
.conflict-conclusion{
    color: #cc3300;
    border: 2px solid #cc3300;
}
.conflict-conclusion:hover{
    color: whitesmoke;
    background-color: #cc3300;
    transition: 0.3s;
}
.btn {
    border-radius: 3px;
    background-color: white;
    padding: 1%;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 3%;
}
.conclusion-heading{
    margin: 0;
}
.conclusion{
    margin-top: 3%;
    border-top: 1px solid grey;
    padding: 3%;
}
.hidden{
    display: none !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 20%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1%;
}

.dropdown-content p {
    margin: 3%;
}

.show {
    display: block;
}
