<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <a href="{{ url_for('index') }}"><img alt="logo" src="{{ url_for('static', filename='images/logo.png') }}"></a>
        {% if q %}
        <form class="navSearch" action="{{ url_for('results') }}" method="GET" autocomplete="off">
            <input type="text" name="q" id="q">
            <input type="submit" value="Submit">
        </form>
        {% endif %}
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">API</a></li>
        </ul>
    </nav>
    {% if not q %}
    <form class="searchForm" action="{{ url_for('results') }}" method="GET" autocomplete="off">
        <input type="text" name="q" id="q">
        <input type="submit" value="Submit">
    </form>
    {% else %}
     <div class="panel">
        <div class="panel-bar">
            <span>Results</span>
        </div>
     </div>
    {% endif %}
</header>
{% block content %}
{% endblock %}
<footer>Footer</footer>
</body>
</html>