<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <a href="{{ url_for('index') }}"><img alt="logo" src="{{ url_for('static', filename='images/logo.png') }}"></a>
        {% if request.endpoint != 'index' %}
        <form class="navSearch" action="{{ url_for('results') }}" method="GET" autocomplete="off">
            <input type="text" name="q" id="q">
            <button type="button">
                <i class="fa fa-search"></i>
            </button>
        </form>
        {% endif %}
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">API</a></li>
        </ul>
    </nav>
    {% if request.endpoint == 'index' %}
    <form class="searchForm" action="{{ url_for('results') }}" method="GET" autocomplete="off">
    <div class="search-container">
        <div class="search">
            <input type="text" id="q" name="q" class="searchTerm">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    </form>
    {% else %}
     <div class="panel">
        <div class="panel-bar">
            {% if request.endpoint == 'results' %}
            <button onclick="showTab('list')" class="active">List View</button>
            <button onclick="showTab('pro-con')">Pro/Con</button>
            {% endif %}
        </div>
     </div>
    {% endif %}
</header>
{% block content %}
{% endblock %}
{% block extra_js %}
{% endblock %}
</body>
</html>