{% extends "base.html" %}
{% block extra_css %}
    <link href="{{ url_for('static', filename='css/graph.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.1/cytoscape.min.js" integrity="sha512-REr7ZKldLo2Lx6UiQ6autPWZR+j4u1/7ElYsrcwFe3ZmT/TKXCF/vXqNP/d2BQ78k0tapdZFccpFkku9bwrS3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
{% endblock %}
{% block content %}
    <div id="cy"></div>
    <div class="panel-area">
        <div class="side-panel-container">
            <div class="side-panel">
                <h3>Argument Map Details</h3>
                <div class="items-container">
                        <h4>Map ID:</h4>
                        <span>{{ nodeset_id }}</span>
                    <div class="keys-list">
                        <div class="key"><i id="conflict" class="fa fa-square"></i> Conflicting</div>
                        <div class="key"><i id="support" class="fa fa-square"></i> Supporting</div>
                        <div class="key"><i id="atom" class="fa fa-square"></i> Argument</div>
                        <div class="key"><i id="scheme" class="fa fa-square"></i> Argument Scheme</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
    var cy = cytoscape({

    container: document.getElementById('cy'),

    elements: [
        {% for node in nodes %}
            {% if node.type == 'atom' %}
                {
                    data: { id: '{{ node.id }}', content:'{{ node.text }}', type: 'atom' }
                },
            {% else %}
                {% if node.metadata.aif_json.type == 'CA'  %}
                    {
                        data: { id: '{{ node.id }}', content:'{{ node.name }}', type: 'conflict' }
                    },
                {% elif node.metadata.aif_json.type == 'RA' %}
                    {
                        data: { id: '{{ node.id }}', content:'{{ node.name }}', type: 'support' }
                    },
                {% elif node.metadata.aif_json.type == 'MA' %}
                    {
                        data: { id: '{{ node.id }}', content:'{{ node.name }}', type: 'MA' }
                    },
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for edge in edges %}
        {
            data: { id: '{{ edge.id }}', source: '{{ edge.source_id }}', target: '{{ edge.target_id }}' }
        },
        {% endfor %}

    ],

    style: [
        {
            selector: "node",
            css: {
                "content": "data(content)",
                "width" : "auto",
                "height" : "auto",
                'text-wrap': 'wrap',
                'text-max-width': 300,
                "text-valign": "bottom",
                "text-halign": "right",
            }
        },
        {
            selector: "node[type='atom']",
            css: {
                "background-color": "#bfbfbf",
                "shape": "roundrectangle",
            }
        },
        {
            selector: "node[type='MA']",
            css: {
                "background-color": "#CC9900",
                "shape": "diamond",
            }
        },
        {
            selector: "node[type='support']",
            css: {
                "background-color": "#408000",
                "shape": "diamond",
            }
        },
        {
            selector: "node[type='conflict']",
            css: {
                "background-color": "#cc3300",
                "shape": "diamond",
            }
        },
        {
            selector: 'edge',
            css: {
                "line-color": "#9dbaea",
                "target-arrow-shape": "triangle",
                "target-arrow-color": "#9dbaea",
                "curve-style": "bezier"
            }
        }
    ],
    layout: {
        name: 'dagre',
    }
    });
    </script>
{% endblock %}
